*{
    margin: 0;
    padding: 0;
}
.row{
    height: 800px;
    width: 100%;
    background-color: #3a3b3c;
    display: flex;
    flex-direction: row;
}
.abt-col_1{
    width: 350px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 26px 10px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 26px 10px rgba(0,0,0,0.59);
box-shadow: 10px 10px 26px 10px rgba(0,0,0,0.59);
}
.abt-col_2{
    width: 875px;
    height: 200px;
    margin-top: 100px;
    margin-left: 60px; 
}
.sub_title{
    font-size: 40px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abt-col_2>p {
    font-size: 25px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
.tab_titles{
    width: 800px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content:space-between; 
    margin-top: 40px;
    color: aliceblue;
}
.tab_titles div{
    width: auto;
}
.drop_box{
    visibility: hidden;
    transition: transform 0.2s;
    margin-top: 50px;
    border-radius: 5px;
    text-align: justify;
    padding: 5px; 
}
.tab_titles div:hover{
    .drop_box{
        color: white;
        visibility: visible;
        transform: scale(1.5);
        /* background-color: black; */
        min-width: 200px;
        margin-left: 40px;
    }
}
.drop_box ul li{
    font-size: 12px;
    text-decoration: none;
    padding: 2px;
}
.drop_box span{
    font-size: 10px;
}